.toolbar {
  border-bottom: 1px solid grey;
  color: #d8b9dd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px #f3e5f5;
  font-weight: 800;
}
.toolbarSecondary {
  justify-content: space-between;
  overflow-x: auto;
  background-color: #d8b9dd;
  padding: 0;
  font-weight: 800;
}
