.toolbar {
  border-bottom: 1px solid grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 0;
  text-align: center;
}
.toolbarSecondary {
  justify-content: space-between;
  overflow-x: auto;
}
.toolbarTitle {
  font-size: 40px;
}
